# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Extensions.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\André\OneDrive\source\repos\andrefmello91\Extensions\.idea\.idea.Extensions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
